<!DOCTYPE html>
<html>
  <head>
    <title>Three-city</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Buildings</h1>
    <p>Welcome to three-cithy</p>

  <p><a href="/buildings">Buildings</a> - <a href="/buildings/new">New</a></p>
  </body>
</html>